:root {
    --main-color: #4a535a;
    --second-color: #a3a7aa;
    --line-height: 1.8;
    --margin-top: 100px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    text-transform: capitalize;
}

body {
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 1900px 300px;
}

header .container i {
    font-size: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #32b59d;
    margin-top: var(--margin-top);
}

header .container .title-header {
    position: relative;
}

header .container .title-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

header .container .title-header h1 {
    color: var(--main-color);
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

header .container .title-header p {
    color: #a3a7aa;
    font-size: 16px;
    line-height: var(--line-height);
}

@media (max-width:767px) {
    header .container .title-header {
        width: auto;
    }

    header .container .title-header h1 {
        font-size: 20px;
    }

    header .container i {
        margin-top: 50px;
    }

    body {
        background-image: url(../images/bg-header-mobile.png);
        background-repeat: no-repeat;
        /* background-size: cover; */
        background-size: 769px 300px;
    }
}


.container .download {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    margin-top: 50px;
    justify-content: center;
    column-gap: 20px;
}

.container .download :nth-child(1) {
    text-decoration: none;
    background-color: #5dccbb;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

.container .download :nth-child(2) {
    text-decoration: none;
    background-color: #8896ff;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
}

@media (max-width: 478px) {
    .container .download {
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin-top: 30px;
    }

    .container .download a {
        margin-bottom: 20px;
        min-width: 250px;
    }
}

section .container .title-section-tow {
    margin-left: auto;
    margin-right: auto;
    width: 630px;
    margin-top: var(--margin-top);
}

section .container .title-section-tow h2 {
    text-align: center;
    color: var(--main-color);
    font-size: 25px;
}

section .container .title-section-tow p {
    text-align: center;
    color: #aaabad;
    margin-top: 20px;
    line-height: var(--line-height);
}

@media (max-width:767px) {
    section .container .title-section-tow {
        width: auto;
    }

    section .container h2 {
        margin-top: 50px;
    }
}

.section .container {
    display: flex;
    margin-top: var(--margin-top);

}

.section .container img {
    width: 500px;
}

.section .container .section-2 {
    padding: 35px 0 0 100px;
}

.section .container .section-2 .search {
    margin-bottom: 30px;
}

.section .container .section-2 .search h4 {
    font-size: 23px;
    line-height: 1;
    font-weight: 800;
    color: var(--main-color);
}

.section .container .section-2 .search p {
    line-height: var(--line-height);
    margin-top: 10px;
    color: var(--second-color);
}

.section .container .section-2 .sync {
    margin-bottom: 30px;
}

.section .container .section-2 .sync h4 {
    font-size: 23px;
    line-height: 1;
    font-weight: 800;
    color: var(--main-color);
}

.section .container .section-2 .sync p {
    line-height: var(--line-height);
    margin-top: 10px;
    color: var(--second-color);
}

.section .container .section-2 .history {
    margin-bottom: 30px;
}

.section .container .section-2 .history h4 {
    font-size: 23px;
    line-height: 1;
    font-weight: 800;
    color: var(--main-color);
}

.section .container .section-2 .history p {
    line-height: var(--line-height);
    margin-top: 10px;
    color: var(--second-color);

}

@media (max-width:992px) {
    .section .container {
        display: flex;
        flex-direction: column;
    }

    .section .container img {
        width: 400px;
        margin: 0 auto;
    }

    .section .container .section-2 {
        margin-top: 50px;
        text-align: center;
        padding: 0;
    }
}

@media (max-width:768px) {
    .section .container img {
        width: 300px;
        margin: 0 auto;
    }

    .section .container .section-2 {
        text-align: center;
        padding: 0;
    }
}


article .container .section-four {
    text-align: center;
    margin-top: 150px;
    width: 630px;
    margin-left: auto;
    margin-right: auto;
}

article .container .section-four h2 {
    color: var(--main-color);
    font-size: 25px;
}

article .container .section-four p {
    color: var(--second-color);
    line-height: var(--line-height);
    margin-top: 20px;
}

@media (max-width:768px) {
    article .container .section-four {
        width: auto;
    }
}

section .container .image img {
    margin-top: 80px;
    width: 100%;
}

@media (max-width:768px) {
    section .container .image img {
        width: 355px;
    }
}

@media (min-width:769px) and (max-width:993px) {
    section .container .image img {
        width: 500px;
    }
}

section .container .workflow {
    text-align: center;
    line-height: 2;
    margin-top: 100px;
}

section .container .workflow:first-of-type h2 {
    color: var(--main-color);
    font-size: 25px;
}

section .container .workflow:last-of-type {
    color: var(--second-color);
}

.section .container .section-five {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
    grid-template-columns: repeat(3, auto);
    grid-gap: 40px;
    text-align: center;
    line-height: 2;
}


.section .container .section-five svg {
    margin-bottom: 30px;
}

@media (max-width:768px) {
    .section .container .section-five {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}


.logo .container .logo-img {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.logo .container .logo-img img {
    width: 100px;
}

@media (max-width:768px) {
    .logo .container .logo-img {
        display: flex;
        flex-direction: column;
    }

    .logo .container .logo-img img {
        margin-bottom: 70px;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
    }
}

.Clipboard .container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

.Clipboard .container div:first-child h2 {
    color: var(--main-color);
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.Clipboard .container div:last-child p {
    color: #a3a7aa;
    font-size: 16px;
    line-height: var(--line-height);
}

@media (max-width:768px) {
    .Clipboard .container div {
        width: auto;
    }

    .Clipboard .container div h2 {
        font-size: 20px;
    }

}

footer {
    margin-top: var(--margin-top);
    background-color: #f5f6f8;
    display: grid;
    grid-template-columns: 300px 700px 200px;
    justify-content: center;
    grid-template-rows: 60px 80px;
    row-gap: 20px;
}

footer .foo {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 50px;
    row-gap: 20px;
    color: #4a535a;
}

footer .foo .us:hover {
    cursor: pointer;
    color: #5dccbb;
}

footer .fa-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: 1;
    grid-row-end: 3;
    color: #5dccbb;
    font-size: 55px;
    letter-spacing: -10px;
}

footer .icon .fa-brands {
    font-size: 25px;
    margin-top: 80px;
    letter-spacing: 13px;
}

footer .icon a {
    text-overflow: none;
    color: #4a535a;
}

footer .icon .fa-facebook:hover {
    color: #5dccbb;
}

footer .icon .fa-twitter:hover {
    color: #5dccbb;
}

footer .icon .fa-instagram:hover {
    color: #5dccbb;
}

footer .attribution {
    /* display: flex;
    justify-content: center; */
    margin-top: 60px;
    letter-spacing: 1px;
    text-align: center;
}

footer .attribution a {
    text-decoration: none;
    color: #5dccbb;
}

@media (max-width:1220px) {
    footer {
        margin-top: var(--margin-top);
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
    }

    footer .foo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
    }

    footer .icon {
        text-align: center;
        letter-spacing: 13px;
    }

    footer .fa-copyright {
        margin-top: 50px;
    }

    footer .attribution {
        font-size: 15px;
        margin-top: 40px;
        letter-spacing: 1px;
        line-height: 2;
    }
}